h1 {
  font-family: helvetica sans-serif;
  text-align: center;
}

.box{
  box-shadow: 2px black;
  width: 300px;
  border: 3px solid green;
  padding: 50px;
  border-radius: 5px;
  margin: 20px;
}

.img{
  position: center;
  box-shadow: 3px 3px black;
}
