h1 {
  font-family: helvetica sans-serif;
  text-align: center;
}

.box{
  box-shadow: 2px 2px 10px black;
  width: 300px;
  border: 3px solid green;
  padding: 50px;
  border-radius: 5px;
  margin: 20px;
}

img {
  background: #00ffa9;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: center;
  box-shadow: 3px 3px 10px #1eb381;
  width: %50;
}
